@use '@/styles/_variables.scss' as *;

.container {
  width: max-content;
  margin: 0 auto;
  margin-top: 5rem;
  background: $white;
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: $container-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.noDataIcon {
  font-size: 7.5rem;
  color: $gray;
}

.noDataTitle {
  font-weight: 600;
  font-size: 2rem;
}
