@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.backButton {
  margin: 2rem 0;
}

.container {
  margin: 0 auto;

  @include mq-down('xl') {
    width: 100%;
  }
}

.commentsContainer {
  padding: 2.4rem;
  border: 1px solid $border-color;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: space-between;
}
