@use '@/styles/_variables.scss' as *;

.menu {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: $menu-height;
  display: flex;
  gap: 10rem;
  flex-direction: column;
  box-shadow: 0 2rem 1rem -1.5rem $box-shadow-color;
  padding: 2rem;
  overflow: hidden;
  transition: 0.5s;
  background-color: $antd-primary;
}

.expandedMenu {
  @extend .menu;
  height: 100vh;
}

.menuContent {
  width: 100%;
}

.menuIcon {
  color: $white;
  font-size: 2.8rem;
}

.userIcon {
  cursor: pointer;
  background-color: $primary;
}

.dropdownContainer {
  display: flex;
  justify-content: flex-end;
}

.menuItemLabel {
  font-size: 2rem;
  color: $white;
}
