@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.container {
  min-height: calc(100vh - $menu-height - $footer-height - 5rem);
  max-width: 120rem;
  margin: 0 auto 5rem;
  padding: 0 2rem;

  @include mq-down('xl') {
    display: flex;
    justify-content: center;
  }
}
