@use '@/styles/variables.scss' as *;

.container {
  min-height: calc(100vh - $menu-height - $footer-height - 5rem);
  max-width: 120rem;
  margin: 0 auto 5rem;
  padding: 0 2rem;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
