// colors
$white: #fff;
$black: #000;
$background-primary: #f0f4f7;
$primary: #34495e;
$gray: #708096;
$slate: #4a5568;
$navy: #f4f6fb;
$box-shadow-color: rgba(0, 0, 0, 0.08);
$border-color: #d1d9e6;
$container-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
$container-box-shadow-hover: 0px 10px 15px rgba(0, 0, 0, 0.08);

// sizes
$menu-height: 8rem;
$footer-height: 2rem;

// breakpoints
$breakpoints: (
  xs: 480,
  sm: 768,
  md: 992,
  lg: 1200,
  xl: 1600,
);
