@use '../../styles/variables.scss' as *;

.homepageContainer {
  padding: 2rem;
  gap: 2rem;
}

.postsContainer {
  gap: 2rem;
  flex-direction: column;
  width: 100%;
}

.addNewPostButton {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: #fbfbfb;
  color: $primary;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-start;
  box-shadow: inset 0px 0px 15px -10px$box-shadow-color;
  width: 90%;

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 1200px) {
    width: 30%;
  }

  @media (min-width: 1600px) {
    width: 20%;
  }
}
