@use '@/styles/_variables.scss' as *;
@use '@/styles/mixins' as *;

.homepageContainer {
  padding-top: 2rem;

  @include mq-up('xl') {
    width: 100%;
  }
}

.postUtilsContainer {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.postsContainer {
  gap: 2rem;
  flex-direction: column;
  width: 100%;
}

.sortSelect {
  min-width: 20rem;
}

.filters {
  background-color: $white;
  box-shadow: $container-box-shadow;
  border-radius: 0.8rem;
  padding: 1rem;
}
