@use '@/styles/variables.scss' as *;

.homepageContainer {
  padding-top: 2rem;
}

.postUtilsContainer {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.postsContainer {
  gap: 2rem;
  flex-direction: column;
  width: 100%;
}

.sortSelect {
  min-width: 20rem;
}
