@use '@/styles/_variables.scss' as *;
@use '@/styles/mixins' as *;

.formContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - $menu-height);
  width: 100%;
}

.form {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  box-shadow: $container-box-shadow;
  border-radius: 0.8rem;
  padding: 2.4rem 2rem 2.4rem;
  width: 100%;

  @include mq-up('md') {
    width: 60%;
  }

  @include mq-up('xl') {
    width: 50%;
  }
}
