@use '@/styles/variables.scss' as *;

.filtersContainer {
  background: $white;
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: $container-box-shadow;
  border: 1px solid $border-color;
}

.title {
  color: $gray;
  font-weight: 600;
}

.category {
  width: 100%;
  border: none;
  box-shadow: none !important;
  transition: 0.2s;
  justify-content: flex-start;

  &:hover {
    border: none !important;
    transform: translateX(5px);
    background-color: $antd-primary !important;
    color: $white !important;
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.active {
  transform: translateX(5px);
  background-color: $antd-primary;
  color: $white;
}
