@use '@/styles/_variables.scss' as *;

.container {
  background: $white;
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: $container-box-shadow;
  border: 1px solid $border-color;
}

.spacer {
  width: 100%;
}

.title {
  color: $gray;
  font-weight: 600;
}

.category {
  width: 100%;
  border: none;
  box-shadow: none !important;
  transition: 0.2s;
  justify-content: flex-start;

  &:hover {
    border: none !important;
    transform: translateX(5px);
  }
}

.place {
  color: $gray;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'DM Serif Display', serif;
}

.reportsCount {
  font-size: 1.2rem;
  padding: 0.5rem 0.75rem;
  background-color: #fff5f5;
  color: #e13d3d;
  font-weight: 600;
  border-radius: 50px;
}

.contractorName {
  display: flex;
  align-items: flex-start;
  white-space: break-spaces;
}
