@use '@/styles/_variables.scss' as *;

.categories {
  overflow: scroll;
  padding: 1rem 0;
}

.active {
  background-color: $antd-primary !important;
  color: $white !important;
}

.title {
  color: $gray;
  margin-bottom: 0.8rem;
  font-weight: 600;
}
