@use '@/styles/_variables.scss' as *;
@use '@/styles/mixins' as *;

.postContainer {
  flex-direction: column;
  gap: 2rem;
  background: $white;
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: $container-box-shadow;
  border: 1px solid $border-color;
  transition: 0.2s;
  width: 100%;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: $container-box-shadow-hover;
  }
}

.postWithComments {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.username {
  font-weight: 600;
}

.location {
  font-size: 1.2rem;
  color: $gray;
}

.locationIcon {
  color: $primary;
}

.postTitle {
  font-size: 2.5rem;
  font-weight: 600;
}

.postText {
  white-space: pre-wrap;
  font-size: 1.4rem;
  color: $slate;
}

.greyText {
  color: $gray;
}

.commentIcon {
  font-size: 1.8rem;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  background-color: $navy;
  border: 1px solid $border-color;
  border-top: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.comment {
  background-color: $white;
  border: 1px solid $border-color;
  padding: 1.5rem 2rem;
  border-radius: 8px;
}

.commentUsername {
  font-weight: 500;
}

.commentDate {
  font-size: 1.1rem;
  color: $gray;
  margin-left: 1rem;
}

.linkToPost {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.createdAt {
  @extend .greyText;
  text-decoration: underline;
  font-size: 1.2rem;

  &:hover {
    color: $gray;
  }
}

.likedPostIcon {
  color: $star_yellow;
}

.leftSideButtons {
  @include mq-down('xl') {
    margin-bottom: 1rem;
  }
}
