@use '@/styles/variables.scss' as *;

.menu {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: $menu-height;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2rem 1rem -1.5rem $box-shadow-color;
  padding: 0 1rem;
}

.menuContent {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContent {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.search {
  width: 50rem;
}

.usernameText {
  font-size: 1.5rem;
  cursor: pointer;
}

.userIcon {
  cursor: pointer;
  background-color: $primary;
}

.logoButton {
  display: flex;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.topLogoText {
  white-space: nowrap;
  font-size: 2.5rem;
}

.bottomLogoText {
  font-size: 1.5rem;
  color: $gray;
}
