@use '@/styles/variables.scss' as *;

.formContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - $menu-height);
}

.form {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  box-shadow: $container-box-shadow;
  border-radius: 8px;
  padding: 2.4rem 2rem 2.4rem;
  width: 90%;

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 1200px) {
    width: 50%;
  }

  @media (min-width: 1600px) {
    width: 50%;
  }
}
