@use '../../styles/variables.scss' as *;

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10rem;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  box-shadow: 0px 19px 15px -25px rgba(66, 68, 90, 1);
}

.leftContent {
  display: flex;
  align-items: center;
}

.search {
  width: 50rem;
}

.usernameText {
  font-size: 1.5rem;
  cursor: pointer;
}

.userIcon {
  font-size: 2rem;
  justify-self: flex-end;
  cursor: pointer;
}
